<h1>Hello from Rails!</h1>
<img width="600" src="https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
<p> It is now <%= @time %> </p>

<p>
    Time to say <%= link_to "goodbye" , say_goodye_path %>!
</p>
